.mainContainer {
    display: flex;
    flex-direction: row;
    max-width: 1670px;
    width: 100%;
    padding: 0 0 100px 125px;
    gap: 112px;
    background-color: #ffffff;
    min-height: 100svh;
    box-sizing: border-box;

}

.sidebar {
    width: 300px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}



.filterTitle {
    font-family: var(--font-raleway);
    font-size: 16px;
    font-weight: 400;
    color: #414343;
    margin: 0;

}

.filterContainerBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;



}

.filterSection {
    width: 100%;
    border-bottom: 1px solid #414343;

    display: flex;
    flex-direction: column;
}


.filterHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background: none;
    border: none;
    cursor: pointer;
}

.filterContainerBox {
    display: flex;
    flex-direction: column;


}

.filterHeader span {
    font-family: var(--font-raleway);
    font-size: 16px;
    font-weight: 400;
    color: #414343;
}

.optionsList {
    padding: 10px 25px 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #F5F5F5;
}

.optionLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 400;
    font-family: var(--font-raleway);
    font-size: 16px;
    color: #414343;
}


.checkboxCustom {

    width: 15px;
    height: 15px;
    border: 1px solid #6e736a;
    background: #ffffff;
    cursor: pointer;
    display: inline-grid;

}

.checkboxCustom:checked {
    background-color: #6c7a5f;
    border-color: #6c7a5f;
}



.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    gap: 52px;
}

.gridHeader {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



}

.titleGroup {

    gap: 5px;
}

.mainTitle {
    font-family: var(--font-montserrat);
    font-size: 22px;
    font-weight: 600;
    color: #2F362A;
    margin: 0;


}

.itemCount {
    font-family: var(--font-raleway);
    font-size: 16px;
    font-weight: 400;

    color: #6E736A;
    margin: 0;
}






.sortWrapper {
    position: relative;
    z-index: 100;
    min-width: 200px;

}

.sortBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 21px;
    border: 1px solid #818686;
    cursor: pointer;
    gap: 16px;


}

.sortLabel {

    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 16px;
    color: #414343;

}


.sortValue {

    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 16px;
    color: #c9805d;

}

.dropdownMenu {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;

    z-index: 1000;
    background-color: #F5F5F5;
}

.dropdownItem {
    padding: 14px 18px;
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 16px;
    color: #414343;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownItem:hover {
    background-color: #f8f8f8;
}

.optionText {
    transition: color 0.2s;
}


.radioCircle {
    width: 18px;
    height: 18px;
    border: 1px solid #818686;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease;
    background: transparent;
}

.activeSortBox {
    border-color: transparent;
    background-color: #F5F5F5;
}

.activeItem .optionText {
    color: #c9805d;
}

.activeItem .radioCircle {
    border-color: #c9805d;
    background-color: #c9805d;
    box-shadow: inset 0 0 0 3px #ffffff;
}

.sortArrow {
    transition: transform 0.3s ease;
    color: #c9805d;
}

.arrowRotate {
    transform: rotate(180deg);
}


.productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 30px;
    row-gap: 52px;
}

.productCard {
    display: flex;
    flex-direction: column;
    border: 20px solid transparent;
    margin: 0px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.productCard:hover {
    background-color: #F5F5F5;
}

.imageWrapper {

    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    transition: border 0.3s ease;
    cursor: pointer;

}





.imageWrapper img {
    width: 100%;
    height: 100%;
    transition: transform 0.35s ease-in-out;

}

.productCard:hover .imageWrapper img {
    transform: scale(1.1);
}





.wishlistIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wishlistIcon:hover {
    transform: scale(1.2);
    background-color: white;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 8px;

}

.name {
    font-family: var(--font-raleway);
    font-size: 16px;
    font-weight: 400;
    color: #414343;
    margin: 0;
    min-height: 2.8em;
    line-height: 1.4;
}

.notes {
    font-family: var(--font-raleway);
    font-size: 14px;
    font-weight: 400;
    color: #6e736a;
    margin: 0;
    line-height: 1.2;
}


.footerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.priceTag {
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: 500;
    color: #414343;
}

.buyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 44px;
    background-color: #c9805d;
    border: none;
    color: #ffffff;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.buyBtn:hover {
    opacity: 0.9;
}

.footer {
    text-align: center;
    margin-top: 43px;
}

.viewMoreBtn {
    background: none;
    border: none;
    color: #C4754E;
    font-family: var(--font-raleway);
    font-weight: 500;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}

.headerActions {
    display: flex;
    justify-content: right;
    gap: 15px;
    align-items: center;
}

.mobileFilterBtn {
    display: none;
    align-items: center;
    gap: 8px;
    background: #ffffff;
    border: 1px solid #818686;
    padding: 13px 20px;
    font-family: var(--font-raleway);
    font-size: 16px;
    color: #414343;
    cursor: pointer;
}

.LeftBottom {
    display: flex;
    justify-content: left;
    flex-direction: column;

}

.MobileFilters {
    position: fixed;
    top: 5%;
    right: 0;
    height: 100vh;
    width: 85%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
    z-index: 100;
    animation: slideIn 0.3s ease;
}

.MobileFilterOverlay {
    position: fixed;
    inset: 0;
    z-index: 50;
}


.MobileFilterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.MobileFilterHeader p {
    font-family: var(--font-raleway);
    font-size: 18px;
    font-weight: 400;
    margin-top: 80px;
}

.MobileFilterHeader span {
    font-size: 20px;
    cursor: pointer;
    margin-top: 80px;

}

.MobileFilterDrawer .LeftBottom {
    max-width: 100%;
}

.MobileFilterDrawer .FilterBox {
    min-width: unset;
    width: 100%;
}

.MobileFilterBtn {
    display: none;
}

.mobileText {
    display: none;
}

.buyBtn {
    display: inline;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}


.footerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    gap: 15px;
}

.priceTag {
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: 600;
    color: #2F362A;
    white-space: nowrap;
}

.buyBtn {
    background-color: #c9805d;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    flex-grow: 1;
    max-width: 150px;
    text-align: center;
}

.linkWrapper {
    text-decoration: none;
    color: inherit;
    display: block;
}

@media (max-width: 950px) {
    .mainContainer {
        padding: 20px;
        gap: 20px;
    }

    .sidebar {
        display: none;
    }

    .mobileFilterBtn {
        display: flex;
    }

    .filterSection {
        width: 100%;
        border-bottom: 1px solid #414343;
        display: flex;
        flex-direction: column;
    }

    .gridHeader {
        width: 100%;
        margin-bottom: 20px;
    }

    .titleGroup {
        display: none;
    }
}

@media (max-width: 600px) {
    .productGrid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;

        row-gap: 30px;
    }

    .productCard {
        border: none;
    }

    .mainTitle {
        font-size: 18px;
    }



    .footerRow {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-top: 10px;
    }

    .priceTag {
        font-size: 16px;
        font-weight: 600;
    }

    .buyBtn {
        display: none;
    }

    .sortLabel {
        display: none;

    }

    .wishlistIcon {

        top: 10px;
        right: 10px;

    }

    .sortWrapper {
        min-width: unset;
        width: auto;
        flex-shrink: 1;
    }

    .sortBox {
        padding: 13px 20px;
        gap: 8px;
        border: 1px solid #818686;
    }

    .sortValue {
        font-size: 16px;
    }

    .sortArrow {
        width: 10px;
        height: 6px;
    }

    .mobileText {
        display: inline-block;
        white-space: nowrap;
        background-color: #C4754E;
        color: #ffffff;
        border: none;
        padding: 12px 20px;
        font-family: var(--font-raleway);
        font-weight: 500;
        font-size: 14px;
    }

}


@media (max-width: 325px) {
    .productGrid {
        column-gap: 10px;
    }

    .buyBtn {
        padding: 10px 5px;
    }

    .mobileText {
        font-size: 12px;
    }

    .priceTag {
        font-size: 14px;
    }
}


@media (min-width: 1200px) and (max-width: 1600px) {
    .mainContainer {
        display: flex;
        padding: 0 100px 100px 125px;
        gap: 50px;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 1000px;
    }

    .productGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 80px;

    }

    .buyBtn {
        padding: 12px 8px;
    }
}


@media (max-width: 1200px) {
    .mainContainer {
        display: flex;
        padding: 0 40px 100px 80px;
        gap: 40px;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .productGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 60px;
    }
}





@media (max-width: 950px) {



    .mainContainer {
        flex-direction: column;
        padding: 0 20px 60px 20px;
        gap: 20px;
    }

    .titleGroup {
        display: none;
    }

    .gridHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        padding: 10px 0;
        width: auto;
        max-width: fit-content;

    }




    .productGrid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }



}