.main {
  display: flex;
  justify-content: left;
  align-items: start;
  width: 100%;
  height: 100%;
  padding-left:  100px;
  padding-bottom: clamp(
    100px,
    calc(100px + (199 * ((100vw - 320px) / 1120))),
    100px
  );
  padding-right: clamp(
    100px,
    calc(100px + (199 * ((100vw - 320px) / 1120))),
    460px
  );
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 80px;
  width: 710px;
}

.Right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 0;
}

.Top h1 {
   font-family: var(--font-raleway);
  font-size: var(--fs-22);
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
 
}

.searchWrapper {
  max-width: 442px;
  width: 442px;
}

.Filter:hover {
  background-color: #6e736a;
}
.Filter:hover svg path {
  fill: #ffffff;
}

.searchInput {
  width: 100%;
  height: 45px;
 font-family: var(--font-raleway);
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 400;
  border: 1px solid  var(--text-secondary);
}

.searchInput::placeholder {
 font-family: var(--font-raleway);
  font-size: 16px;
   color: var(--text-secondary);
  font-weight: 400;
}

.Filter {
  padding: 14px;
  border: 1px solid  var(--text-secondary);
}

@media (max-width: 640px) {
  .Top {
    flex-direction: column;
    gap: 24px;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
  }

  /* .Top h1 {
    display: none;
  } */

  .searchWrapper {
    max-width: 542px;
    width: 542px;
  }

  .main {
    padding-right: 24px;
  }
  .Right {
    width: 100%;
  }
  .searchWrapper {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .main {
    padding-right: 10px;
  }
  .container {
    max-width: 450px;
  }
  .Top {
    flex-direction: row;
    align-self: flex-start;
  }
  .searchInput {
    max-width: 400px;
  }
  .searchWrapper {
    width: 100%;
    max-width: 100%;
  }
}

.EmptyOrdersState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  text-align: center;
  gap: 8px;
  width: 100%;
}

.EmptyOrdersState h4 {
    font-family: var(--font-montserrat);
  font-size: 22px;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
}

.EmptyOrdersState p {
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary);
  margin: 0;
}

.ShopNowBtn {
  margin-top: 24px;
  padding: 12px 40px;
  background: #ffffff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
   font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ShopNowBtn:hover {
  background: var(--primary-color);
  color: #ffffff;
}
