/*upadted*/
.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.MainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}


.LeftConatiner {
  flex: 1.2;
  display: flex;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.RightContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;

}

.RightContent {
  width: 100%;
  max-width: 577px;
  display: flex;
  flex-direction: column;
  padding-top: 203px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  height: 100%;
  justify-content: space-between;
}


.formMain {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.TitleArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Top h3 {
  font-size: 24px;
  font-weight: 600;
  color: #414343;
  font-family: var(--font-montserrat);
  margin: 0;
}

.TitleArea p {
  font-size: 15px;
  color: #818686;
  margin: 0;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 1.4;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formBox input,
.formBox select,
.formBox textarea {
  width: 100%;
  padding: 20px 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #818686;
  font-size: 16px;
  background: transparent;
  outline: none;
  color: #414343;
  font-family: var(--font-raleway);
}

.formBox textarea {
  min-height: 45px;
  resize: none;
}

.row {
  display: flex;
  gap: 30px;
}

.row input {
  flex: 1;
}

.Bottom {
  display: flex;
  justify-content: flex-end;

}

.btn {
  background-color: #c4754e;
  color: #ffffff;
  border: none;
  padding: 13px 35px;
  font-family: var(--font-raleway);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}


.contactFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 21px;

}

.footerItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footerItem span {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-raleway);
  color: #414343;
}

.footerItem p {
  color: #C4754E;
  font-size: 16px;
  margin: 0;
  font-family: var(--font-raleway);
  font-weight: 400;
}

.container {
  position: relative;
  width: 100%;
  font-family: var(--font-montserrat);
  /* Edit Font Style */
}

.selectTrigger {
  padding: 15px 0px;
  background-color: var(--card-bg);
  border-bottom: 1px solid var(--text-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: var(--fs-16);
  color: var(--text-secondary);
  transition: all 0.3s ease;
}

.selectTrigger.open {
  border-color: var(--primary-color);
  /* Surge Brown */
}

.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background);
  /* Edit Dropdown BG */
  /* border: 1px solid #ddd; */
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.optionItem {
  padding: 12px 20px;
  cursor: pointer;
  font-size: var(--fs-16);
  color: var(--text-secondary);
  transition: background 0.2s ease;
}

/* --- EDIT HOVER COLOR HERE --- */
.optionItem:hover {
  background-color: var(--primary-color);
  /* Surge Brown */
  color: #ffffff;
  /* Text color on hover */
}

.arrow {
  font-size: 10px;
  transition: transform 0.3s ease;
}

.arrowUp {
  transform: rotate(180deg);
}

@media (max-width: 1440px) {
  .RightContent {
    padding-top: 150px;

  }

  .formMain {
    gap: 25px;
  }
}


@media (max-height: 768px) and (min-width: 1025px) {
  .main {
    height: 100vh;
  }

  .RightContent {
    padding-top: 120px;
  }

  .formBox {
    gap: 12px;
  }

  .formBox input {
    padding: 15px 0;
  }
}


@media (max-width: 1024px) {

  .main,
  .MainContainer {
    height: auto;


  }

  .MainContainer {
    flex-direction: column;
  }

  .LeftConatiner {
    height: 40vh;
    flex: none;
  }

  .RightContent {
    padding-top: 50px;
    max-width: 90%;


  }

  .contactFooter {
    margin-top: 60px;

  }
}

@media (min-width: 325px) and (max-width: 767px) {

  .main,
  .MainContainer {
    height: auto;
    max-height: none;
    overflow-x: hidden;
  }


  .RightContainer {
    background-color: #f5f5f5;
    width: 100%;
  }

  .MainContainer {
    flex-direction: column;
  }

  .LeftConatiner {
    height: 300px;
    flex: none;
  }

  .RightContent {
    padding-top: 40px;
    margin: 0;
    height: auto;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }

  .formMain {
    gap: 20px;
    /* padding: 0 20px; */
  }

  .formBox {
    gap: 10px;
  }

  .formBox input,
  .formBox select,
  .formBox textarea {
    padding: 12px 0;
    font-size: 14px;
  }

  .row {
    flex-direction: column;
    gap: 15px;
  }

  .btn {
    width: 100%;
    padding: 12px;
  }


  .contactFooter {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #ffffff;

    margin: 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    padding: 40px 40px 60px 40px;
    box-sizing: border-box;
  }

  .footerItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
  }

  .footerItem span {
    font-size: 14px;
    font-weight: 400;
    color: #414343;
    white-space: nowrap;
  }

  .footerItem p {
    font-size: 14px;
    color: #C4754E;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }
}

@media (max-width: 324px) {

  .footerItem span,
  .footerItem p {
    font-size: 10px;
  }

  .Top h3 {
    font-size: 20px;
  }
}