.container {

  padding-top: clamp(8px, 1vw, 15px);
  padding-left: clamp(40px, 5vw, 125px);
  padding-right: clamp(40px, 5vw, 125px);
  padding-bottom: clamp(40px, 8vw, 88px);
  background-color: #ffffff;
}

.sectionHeading {
  font-size: var(--fs-22);
  font-family: var(--font-montserrat);
  font-weight: 600;
  color: #414343;
  margin-bottom: 32px;
  margin-top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 335px;
  overflow: hidden;
}

.imageWrapper img {
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  /* Smooth, eased-out zoom */
  object-fit: cover;
}

/* Apply the scale on hover */
.imageWrapper:hover img {
  transform: scale(1.1);
  /* Zoom in by 10% */
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardTitle {
  font-size: var(--fs-18);
  font-weight: 500;
  margin-top: 14px;
  margin-bottom: 0;
  color: #414343;
  font-family: var(--font-raleway);
}

.cardDesc {
  font-size: var(--fs-16);
  color: #818686;
  font-family: var(--font-raleway);
  margin: 0;
  width: 369px;
  line-height: 1.4;
}

.titleLink {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.descLink {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.readMore {
  color: #C4754E;
  font-size: var(--fs-16);
  text-decoration: none;
  font-family: var(--font-raleway);
  display: flex;
  gap: 4px;
  align-items: center;
}

.readMore:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  margin-top: 43px;
}

.viewMoreBtn {
  background: none;
  border: none;
  color: #C4754E;
  font-family: var(--font-raleway);
  font-weight: 500;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}


@media (min-width: 1025px) and (max-width: 1450px) {
  .container {
    padding: 10px 60px 80px 60px;
  }

  .grid {
    gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  .cardDesc {
    width: 100%;
    max-width: 369px;
  }

  .imageWrapper {
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 60px 32px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cardDesc {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 80px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .imageWrapper {
    height: 250px;
  }

  .sectionHeading {
    font-size: var(--fs-24);
    text-align: left;
  }

  .cardTitle {
    font-size: var(--fs-20);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--text-primary);
    font-family: var(--font-raleway);
  }
  .cardDesc{
    line-height: 1.2;
    font-size:var(--fs-20);
  }
  /* .cardBody{
    gap:4px;
  } */
   .readMore{
    margin-top:24px;
    font-size:var(--fs-18);
   }

}