.container {
padding: clamp(40px, 10vw, 120px) clamp(30px, 12vw, 125px);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 32px;
}

.header {
  max-width: 643px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainTitle {
  font-size: 22px;
  font-weight: 600;
  color: #414343;
  font-family: var(--font-montserrat);
  margin: 0;
}

.subtitle {
  font-size: 18px;
  line-height: 1.6;
  color: #818686;
  font-weight: 500;
  font-family: var(--font-montserrat);
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 276px;
  gap: 32px;
  align-items: stretch;
}

.card {
  background-color: #FBF5F1;
  padding: 24px 44px 32px;
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 500;
  color: #C4754E;
  font-family: var(--font-montserrat);
  margin: 0;
}

.cardDescription {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-raleway);
  line-height: 1.5;
  color: var(--text-secondary);
  width: 100%;
  max-width: 214px;
  margin: 0;
}

.imageWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70px;
  width: 100%;
  color: #C4754E;
}

.cupImage {
  height: 100%;
  width: auto;
  display: block;
  
}


.cardBox {
  background-color: #c4754e;
  padding: 30px 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  align-self: end; 
  transition: height 0.4s ease, padding 0.4s ease; 
  height: 131px; 
  cursor: pointer;
}


.cardBox:hover {
  height: 245px;
  padding-bottom: 40px; 
}

.cardText {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  line-height: 1.3;
  margin: 0;
}

.enquireLink {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 400;
  font-family: var(--font-raleway);
  font-size: 16px;
  display: flex;
  gap: 4px;
}

.arrowIcon {
  display: flex;
  align-items: center;
}











/* --- MEDIA QUERIES --- */

@media (max-width: 1440px) {
  .container {
    padding: 100px 60px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr) 240px;
    gap: 20px;
  }
}


@media (max-width: 1100px) {
  .container {
    padding: 80px 64px;
  }

  .grid {

    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .header {
    max-width: 100%;
    text-align: left;
  }

  .card {
    padding: 30px;
  }


  .cardBox {
    height: 131px;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 60px 20px;
    gap: 40px;
  }

  .mainTitle {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
  }

  .grid {
    column-gap: 16px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    padding: 24px;
  }

  .cardDescription {
    max-width: 100%;
  }

  .imageWrapper {
    height: 60px;
  }


  .cardBox {
    height: 131px;
  }
 
}


@media (max-width: 380px) {
  .container {
    padding: 0 20px;
  }

  .mainTitle {
    font-size: 18px;
  }

  .cardTitle {
    font-size: 16px;
  }
}