.menuSection {
 padding: 0 clamp(25px, 12vw, 125px) clamp(50px, 10vw, 120px);
  background-color: var(--background);
}

.sectionHeader {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.heading {
  font-size: var(--fs-22);
  font-weight: 600;
  margin: 0 0 8px 0;
  color: var(--text-primary);
  font-family: var(--font-montserrat);
}

.subtext {
  font-size: var(--fs-16);
  color: var(--text-secondary);
  line-height: 1.4;
  font-family: var(--font-raleway);
  max-width: 747px;
  margin: 0;
}

.viewMenu {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.arrowBox {
  width: 30px;
  height: 29px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.viewMenu:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.viewMenu:hover .arrowBox {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.viewMenu:hover .arrowBox svg {
  stroke: var(--cards-bg);
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 30px;
}

.card {
  position: relative;
  background: var(--cards-bg);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
  height: 507px;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
}


.contentStack {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--cards-bg);
  z-index: 5;
  padding: 18px;
  transform: translateY(68px);
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cardTitle {
  margin: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: var(--fs-22);
  font-weight: 600;
  color: var(--text-primary);
}

.hoverContent {
  opacity: 0;
  padding-top: 18px;
  transition: opacity 0.4s ease;
}


.overlayTitle {
  font-size: var(--fs-16);
  color: var(--text-secondary);
  font-family: var(--font-raleway);
  line-height: 1.2;
  margin: 0;
}

.exploreLink {
  margin-top: 8px;
  color: var(--primary-color);
  text-decoration: underline;
  font-family: var(--font-raleway);
  font-size: var(--fs-16);
  display: flex;
  align-items: center;
  gap: 4px;
}



.card:hover .contentStack {
  transform: translateY(0);
}

.card:hover .hoverContent {
  opacity: 1;
}

.card:hover .image {
  transform: scale(1.08);
}









.mobileArrow {
  display: none;
}

/* --- RESPONSIVE --- */



@media (max-width: 1400px) {
  .menuSection {
    padding: 0 60px 100px;
  }

  .menuGrid {
    gap: 30px;
  }

  .overlay {
    height: 90px;
    padding: 15px 10px;
  }

  .overlayTitle {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .menuSection {
    padding: 60px 40px 80px;
  }

  .imageWrapper {
    height: 460px;
  }

  .overlay {
    height: 100px;
    padding: 15px;
  }

  .overlayTitle {
    font-size: 14px;
  }

  .card:active .imageWrapper {
    transform: scale(1.05);
  }
}


@media (max-width: 1024px) {
  .menuGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .sectionHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .imageWrapper {
    height: 400px;
  }

  .overlayTitle {
    font-size: 16px;
  }

}

@media (max-width: 768px) {
  .menuSection {
    padding-bottom: 60px;
  }

  .heading {
    font-size: 20px;
  }

  .overlayTitle {
    font-size: 15px;
  }
}


@media (max-width: 600px) {
  .viewMenu {
    display: none;
  }

  .menuSection {
    padding: 80px 20px;
  }

  .menuGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }

  .subtext {
    font-size: 12px;
    line-height: 1.5;
  }

  .imageWrapper {
    height: 180px;
  }

  .contentStack {
    position: relative;
    transform: translateY(0);
    background-color: #F5F5F5;
    padding: 0;
  }

  .hoverContent {
    display: none;
  }

  .cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    font-size: 13px;
    background-color: #F5F5F5;
    font-weight: 600;
    color: #414343;
    opacity: 1;
    margin: 0;
    transform: none;
  }

  .mobileArrow {
    display: none;

  }


  .card:hover .image {
    transform: none;
  }

  .card:hover .contentStack {
    transform: none;
  }
}