.menuSection {
  padding: 0 125px;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.sectionHeader {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.heading {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #414343;
  font-family: var(--font-montserrat);
}

.subtext {
  font-size: 16px;
  color: #818686;
  line-height: 1.4;
  font-family: var(--font-raleway);
  max-width: 747px;
  margin: 0;
}

.viewMenu {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  color: #C4754E;
  text-decoration: none;
}

.arrowBox {
  width: 30px;
  height: 29px;
  border: 1px solid #C4754E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 30px;
}


.card {
  position: relative;
  background: #F5F5F5;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
  height: 507px;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.8s ease;
}

.card:hover .image {
  transform: scale(1.08);
}


.cardTitle {
  background: #F5F5F5;
  padding: 18px 20px;
  font-family: var(--font-montserrat);
  font-size: 22px;
  font-weight: 600;
  color: #414343;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}


.mobileArrow {
  display: none; 
}

.card:hover .cardTitle {
  opacity: 0;
}



/*hover  */ 
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F5F5F5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 5;
  height: 80px; 
  transform: translateY(100%);
  transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.card:hover .overlay {
  transform: translateY(0);
}

.overlayTitle {
  font-size: 22px;
 color: #414343;
  font-family: var(--font-montserrat);
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.overlayDesc {
  font-size: 16px;
  color: #818686;
  font-family: var(--font-raleway);
  margin: 0;
}

.exploreLink {
  color: #C4754E;
  text-decoration: underline;
    font-family: var(--font-raleway);
  font-size: 16px;
 font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;

}







@media (max-width: 1400px) {
  .menuSection {
    padding: 0 80px 100px;
  }

  .menuGrid {
    gap: 30px;
  }

  .overlay {
    height: 90px; 
    padding: 15px 10px;
  }

  .overlayTitle {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .menuSection {
    padding: 60px 40px 80px;
  }

  .imageWrapper {
    height: 460px;
  }

  .overlay {
    height: 100px;
    padding: 15px;
  }

  .card:active .imageWrapper {
    transform: scale(1.05);
  }
}


@media (max-width: 1024px) {
  .menuGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .sectionHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .imageWrapper {
    height: 400px;
  }
  

}


@media (max-width: 768px) {
  .menuSection {
    padding-bottom: 60px;
  }
  
  .heading {
    font-size: 20px;
  }
}


@media (max-width: 600px) {
  .viewMenu {
    display: none;
  }

  .menuSection {
    padding: 60px 20px; 
  }

  .menuGrid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
    margin-top: 20px;
  }

  .subtext {
    font-size: 12px;
    line-height: 1.5;
  }

  .imageWrapper {
    height: 180px; 
  }


  .overlay {
    display: none;
  }

 
  .cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    font-size: 13px;
    background-color: #F5F5F5;
    font-weight: 600;
    color: #414343;
    opacity: 1 ;
    margin: 0;
  }

  .mobileArrow {
    display: block;
    width: 14px;
    height: 14px;
    color: #414343;
  }


  .card:hover .image {
    transform: none;
  }
}