/* ---------- NAVBAR CONTAINER ---------- */

.navbar {
  height: 94px;
  background-color: var(--background);
  border-bottom: 1px solid #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 125px;
 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box; 
}
.navWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menuCenter, .menuRight {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  flex-shrink: 0;
}

.menuCenter {
  margin-left: 120px;
}

.navLink, .menuRight a {
  font-family: var(--font-montserrat);
  font-size: var(--fs-16);
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
  white-space: nowrap;
}

.navLinkRed {
  color:var(--black) ;
  font-family: var(--font-montserrat);
  font-size: var(--fs-16);
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}



.arrow {
  display: inline-block;
  font-size: 10px;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.arrowUp {
  transform: rotate(180deg);
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color:var(--brown);
  transition: 0.3s;
}




/*Mobile*/

@media (max-width: 1299px) {
  .navbar {
    padding: 0 20px;
    justify-content: space-between; 
    position: fixed;        
    top: 0;                
    width: 100%;           
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    z-index: 1000;          
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: flex;
    z-index: 1002;
    order: -1; 
  }

  .navWrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 104px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px; 
    z-index: 1001;
    align-items: flex-start;
    overflow-y: auto;
  }

  .navWrapper.active {
    display: flex;
  }

  .menuCenter, .menuRight {
    flex-direction: column;
    margin: 0 ;
    width: 100%;
    gap: 8px; 
    padding: 0;
    align-items: flex-start; 
  }

  .desktopOnly {
    display: none ; 
  }

  .mobileOnly {
    display: block ; 
  }

  .mobileLine {
    width: 100%;
    height: 1px;
    background-color: #2F362A4D;
    margin: 5px 0;
    display: block;
  }

  .dropdownWrapper {
    position: static; 
    padding-left: 15px;
    box-shadow: none;
    width: 100%;
  }

  .linkStack {
    display: grid ;
    grid-template-columns: 1fr 1fr;
    gap: 16px ;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }

  .linkStack li a {
    text-decoration: none;
    color: #888888; 
    font-size: 16px;
    font-weight: 400;
      font-family: var(--font-raleway);
    display: block; 
   
  }

 
  .accountStack {
    list-style: none;
    padding: 10px 0 10px 15px;
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 16px;
  }

  .accountStack li a {
    text-decoration: none;
    color: #888888;
    font-weight: 400;
      font-family: var(--font-raleway);
    font-size: 16px;
  }
  
}





/* ---------- DESKTOP ONLY (1300px and above) ---------- */

@media (min-width: 1300px) {
  .desktopOnly {
    display: block;
  }
  .mobileOnly {
    display: none;
  }
  .mobileLine {
    display: none;
  }
  .accountTrigger .arrow {
    display: none;
   
  }
}


.lineOpen:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.lineOpen:nth-child(2) {
  opacity: 0;
}
.lineOpen:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}