.shopSection {
  padding: 120px 125px;
  background-color: #ffffff;
}

.container {
  width: 100%;
}

.title {
  font-family: var(--font-montserrat);
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 30px;
  color: #414343;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  text-decoration: none;
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden; 
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  background-color: #f9f9f9;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.card:hover img, 
.card:active img {
  transform: scale(1.10) translateY(-15px); 
}

.label {
  position: absolute;
  bottom: 41px; 
  left: 36px;
  right: 36px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: gap 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.categoryName {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #414343;
  font-family: var(--font-montserrat);
}

.hoverContent {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: 
    opacity 0.8s ease, 
    transform 1s cubic-bezier(0.19, 1, 0.22, 1), 
    max-height 1s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Hover  */
.card:hover .hoverContent {
  opacity: 1;
  max-height: 500px; 
  visibility: visible;
  transform: translateY(0);
}

.card:hover .label {
  gap: 20px; 
}

.mobileDescription {
  margin: 0;
  font-family: var(--font-raleway);
  font-size: 14px;
  line-height: 1.6;
  color: #414343;
}

.mobileBtn {
  align-self: flex-start;
  background-color: #ba7249;
  color: #ffffff;
  padding: 12px 28px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  cursor: pointer;
  transition: background-color 0.3s ease;
}




@media (max-width: 1400px) {
  .shopSection {
    padding: 100px 60px; 
  }
}


@media (max-width: 1100px) {
  .shopSection {
    padding: 80px 40px;
  }
  .grid { 
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
  }
}


@media (max-width: 767px) {
  .shopSection {
    padding: 60px 20px;
  }
  
  .grid { 
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
  }
  
  .label { 
    bottom: 25px; 
    left: 20px;
    right: 20px;
  }

  .categoryName { 
    font-size: 18px;
  }
  .hoverContent {
    transition: none; 
  }
}