.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--background);
  
}


.header {
  display: flex;
  align-items: baseline;
  gap: 8px; 
  margin: 0;
  padding: 0;
}

.title {
  font-size: var(--fs-22);
  font-weight: 600;
  color: var(--text-primary);
  font-family: var(--font-montserrat);
  margin: 0;
}

.itemCount {
  font-size: var(--fs-16);
  color: var(--text-secondary);
  font-family: var(--font-raleway);
  font-weight: 400;
  margin: 0;
}


.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 40px 32px;
}

.productCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.imageContainer {
  position: relative;
  width: 295px;
  height: 339px;
  background-color: var(--cards-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.removeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}


.productInfo {
  display: flex;
  flex-direction: column;
  width: 295px;
  margin: 0;
}

.productName {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-primary);
  font-family: var(--font-raleway);
  margin: 0 0 8px 0;
}

.productNotes {
  font-size: var(--fs-16);
  font-weight: 400;
  color: #818686;
  font-family: var(--font-raleway);
  margin: 0;
}


.priceActionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 100%;
}

.price {
  font-size: var(--fs-18);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color:var(--text-primary);
}

.addToCart {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 40px;
  font-family: var(--font-raleway);
  font-size: var(--fs-16);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.addToCart:hover {
  background-color: var(--primary-color);
}


@media (max-width: 480px) {
  .productGrid {
    grid-template-columns: 1fr 1fr; 
    gap: 24px 12px;
  }
  
  .imageContainer, .productInfo {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.1;
  }

 
  .priceActionWrapper {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 12px;              
    margin-top: 12px;
    width: 100%;
  }

  .price {
    font-size: 15px;
    font-weight: 600;
  }

  .addToCart {
    padding: 10px 0;      
    font-size: 13px;
    width: 60%;          
    display: flex;
    justify-content: center;
    align-items: center;
  }
}