
.footer {
  background-color: var(--text-primary);
  color: var(--background);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 65px clamp(24px, 8vw, 127px) 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}


.promoSection {
  display: flex;
  justify-content: space-between; 
  align-items: flex-end;
  gap: 40px;
}

.logoCol {
  flex-shrink: 0;
}

.promoRightSide {
  display: flex;
  justify-content: flex-end; 
  gap: 169px;
  flex: 1;
}

.promoCol {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 420px; 
}

.promoHeading {
  font-family: var(--font-montserrat);
  font-size: var(--fs-22);
  font-weight: 600;
  margin: 0;
  color: var( --background);
}

.promoLabel {
  color: #C4754E;
  font-family: var(--font-raleway);
  font-size: var(--fs-12);
  font-weight: 500;
  margin: 0;
}

.promoDesc {
  font-family: var(--font-raleway);
  font-size: var(--fs-12);
  font-weight: 500;
  width: 342px;
  line-height: 1.6;
  color: var(--background);
  margin: 0;
}

.exploreBtn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var( --background);
  padding: 12px 40px;
  text-decoration: none;
  font-family: var(--font-raleway);
  font-size: var(--fs-16);
  font-weight: 600;
  width: fit-content;
  margin-top: 12px;
  transition: opacity 0.3s ease;
}


.appLinks {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.appBtn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--background);
  padding: 8px 15px;
  min-width: 135px;
  background: transparent;
  transition: background 0.3s ease;
}

.btnContent {
  display: flex;
  align-items: center;
  gap: 10px;

}

.textWrapper {
  display: flex;
  flex-direction: column;
  color: var(--background);
  text-align: left;
}

.topText { 
  font-size: var(--fs-12);
   font-weight: 500; 
   line-height: 1; 
   font-family: var(--font-raleway);
  }
.bottomText {
   font-size: var(--fs-14); 
   font-weight: 600;
   font-family: var(--font-raleway);
    line-height: 1.2;
   }

/* --- Divider --- */
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--background);
  margin: 20px 0;
  border: none;
  opacity: 0.3;
}


.topSection {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start;
  gap: 243px; 
}

.newsletterArea {
  display: flex;
  flex: 0 0 auto; 
  width: 526px; 
}

.newsletterContent {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: var(--font-montserrat);
font-size: var(--fs-22);
  font-weight: 600;
margin: 0;
}

.description {
  color: var(--background);

  line-height: 1.6;
  font-family: var(--font-raleway);
  margin-bottom: 30px;
}

.subscribeForm {
  display: flex;
  border: 1px solid var(--background);
  width: 100%;
  max-width: 360px;
}

.input {
  background: transparent;
  border: none;
  padding: 16px;
  color: var(--background);
  font-size: 14px;
  flex: 1;
  outline: none;
}

.subscribeBtn {
  background: var(--background);
  color: var(--primary-color);
  border: none;
  padding: 0 24px;
  font-weight: 400;
   font-family: var(--font-raleway);
  font-size: 16px;
  cursor: pointer;
}


.linkColumns {
  display: flex;
  gap: 147px;
}

.column h4 {
  font-family: var(--font-montserrat);
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.column a {
  font-family: var(--font-raleway);
  font-size: 16px;
  color: var(--background);
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
  opacity: 0.8;
  white-space: nowrap;
}


.surgeBackground {

  display: flex;

  justify-content: center;

  align-items: center;

  flex: 1;

  width: 100%;

  overflow: hidden;



}



.surgeBackground h1 {

 

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 275px;

  font-family: var(--font-raleway);

  font-size: 150px;

  font-weight: 500;

  opacity: 5%;

  line-height: 1;

  margin: 0;

}

.infoGrid {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.contactWrapper {
  display: flex;
  gap: 160px;
    margin-right: 200px;
}


.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.label {
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 400;
  color: var(--background);
  text-transform: uppercase;
  
}

.infoBlock address {
 font-weight: 400;
  font-family: var(--font-raleway);
  font-size: 16px;
  color:var(--primary-color);
  line-height: 1.5;
}
.accentLink {
  font-family: var(--font-raleway);
  font-size: var(--fs-16);
  text-decoration: none;
  font-weight: 400;
  color: var(--primary-color);
}



.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: var(--fs-16);
  color: var(--background);
   font-family: var(--font-raleway);
   font-weight: 400;
}

.legal { display: flex;
   gap: 20px; 
  }
.legal a {
   color: white; 
   text-decoration: none;
    font-family: var(--font-raleway);
  font-size: var(--fs-16);

  font-weight: 400;
   }
.crafted a {
   color: var(--background); 
    font-family: var(--font-raleway);
  font-size: var(--fs-16);

  font-weight: 400;
   text-decoration: underline;
    text-underline-offset: 3px;
   }
.mobilelegal {
  display: none;
}


