
.container {
  width: 100%;
  max-width: none;
  padding: 150px 0;
}

.topSection {
  text-align: center;
}

.mainHeading {
  font-size: 22px;
  font-weight: 600;
  margin-top: 8px;
  font-family: var(--font-montserrat);
}

.topSubtext {
  font-size: 16px;
  color: #818686;
  font-family: var(--font-raleway);
  max-width: 776px;
  margin: 0 auto 40px;
}

.locationGrid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 870px;
  margin: 80px auto;
}

.locationItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.locName {
  font-weight: 500;
  font-size: 18px;
  font-family: var(--font-montserrat);
  margin-bottom: 8px;
}

.locArea {
  color: #818686;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-raleway);
}

.goldLink {
  color: #C4754E;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
  font-family: var(--font-raleway);
  margin-top: 8px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.mapImg {
  width: 100%;
  max-width: 1064px;
  height: 798px;
  filter: grayscale(1);
  opacity: 0.9;
}

.divider {
  border: 0;
  margin-bottom: 174px;
}

.careersSection {
  padding-left: 250px;
  padding-right: 250px;
  width: 100%;
  box-sizing: border-box;
}

.heading {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  color: #818686;
  font-weight: 400;
  width: 740px;
  line-height: 1.4;
  font-family: var(--font-raleway);
  margin-bottom: 80px;
}

.jobGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  column-gap: 164px;
}

.jobItem {
  border-bottom: 1px solid #818686;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.jobInfo h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  margin: 0;
}

.jobInfo p {
  font-size: 16px;
  color: #818686;
  font-weight: 400;
  font-family: var(--font-raleway);
  margin: 5px 0 0;
  line-height: 1.4;
}

.detailLink {
  color: #C4754E;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-raleway);
  text-decoration: none;
}



.emailFooter {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-raleway);
  color: #414343;
}

.emailLink {
  color: #C4754E;
}



@media (min-width: 851px) and (max-width: 1050px) {
 
  .container {
    padding: 80px 0;
  }


  .locationGrid {
    max-width: 90%;
    margin: 40px auto;
    gap: 20px;
    justify-content: space-around;
  }

  
  .mapContainer {
    margin-top: 60px;
    padding: 0 40px;
  }

  .mapImg {
    height: 500px; 
    max-width: 100%;
    object-fit: cover;
  }

  .divider {
    margin-bottom: 80px;
  }


  .careersSection {
    padding-left: 60px;
    padding-right: 60px;
  }

  .description {
    width: 100%; 
    margin-bottom: 50px;
  }

 
  .jobGrid {
    column-gap: 50px;
    gap: 30px;
  }

  .jobItem {
    padding-bottom: 25px;
    align-items: center;
  }

  .jobInfo h3 {
    font-size: 17px;
  }

  .jobInfo p {
    font-size: 14px;
  }

  .detailLink {
    font-size: 14px;
  }
}



@media (min-width: 1100px)and (max-width: 1350px) {
  .careersSection {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .jobGrid {
    column-gap: 60px;
  }

  .jobItem {
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
  }
}

@media (max-width: 1024px) {
 .container {
    padding: 80px 0; 
  }
  .careersSection, .topSection {
    padding-left: 40px;
    padding-right: 40px;
  }

  .description {
    width: 100%;
  }

  .mapImg {
    height: auto;
    max-height: 400px; 
  }

  .jobItem {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 50px;
    padding-top: 0px;
  }

  .locationGrid {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
  }

  .jobGrid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .jobItem {
    align-items: flex-end; 
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }

  .mapContainer {
    margin-top: 40px;
  }

  .divider {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {

  .container .careersSection, 
  .container .topSection {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .container .jobItem {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    gap: 15px;
   
  }

  .container .jobInfo p {
    font-size: 14px;
   
  }

  .container .detailLink {
    white-space: nowrap; 
    font-size: 14px;
    flex-shrink: 0; 
    align-self: center;
  }
  
}