
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 108px 125px;
 box-sizing: border-box;
}

.breadcrumbsHeaderGap {
  display: flex;
  flex-direction: column;
  gap: 67px; 
}

.headerHeroGap {
  display: flex;
  flex-direction: column;
  gap: 55px; 
}

.heroContentGap {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}


.Breadcrumbs {
  display: flex;
  align-items: center;
  gap: 16px; 
  font-size: var(--fs-16);
  font-family: var(--font-raleway);
  color: var(--text-secondary); 
}

.Breadcrumbs p {
  display: flex;
  align-items: center; 
  gap: 8px;
  margin: 0;
}

.Breadcrumbs a {
  text-decoration: none; 
  color: var(--text-secondary);
}

.activePage {
  color: var(--primary-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}
.mainTitle {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  font-weight: 500;
  color: var(--text-primary);
  font-family: var(--font-montserrat);
  line-height: 1.1;
  margin: 0;
}


.sourcingSubLine {
  font-size: 60px; 
  font-weight: 500;
    font-family: var(--font-montserrat);
  color: var(--text-primary);
 
}

.date {
  font-size: var(--fs-22);
  color: var(--text-secondary);
  font-weight: 600;
  font-family: var(--font-montserrat);
  margin: 0; 
}

.imageWrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

}

.heroImg {
  width: 100%;    
  height: 526px; 
  display: block;
  object-fit: cover; 

}

.Main {
  display: flex;
  width: 100%;
  
  gap: 146px; 
}

.leftColumn {
  flex: 1;
  max-width: 910px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 32px; 
}

.sectionTitle {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--text-primary);
  margin: 0;
}

.text {
  font-size: var(--fs-16);
  font-weight: 400;
  color: #6E736A;
  font-family: var(--font-raleway);
  margin: 0;
  width: 910px;
  text-align: justify; 
  text-justify: inter-word;
}
.inlineImage {
  object-fit: cover;
}

.rightColumn {
  width: 489px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rightTitle {
  font-size: var(--fs-22);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--text-primary);
  margin: 0;
}

.rightList {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.rightCard {
  display: flex;
  gap: 24px;
  text-decoration: none;
  color: inherit;
  height: 128px;
}

.rightThumb {
  flex-shrink: 0;
  width: 209px;
  height: 128px;
  overflow: hidden;
  
}

.sidebarInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.sidebarBlogTitle {
  font-weight: 600;
  font-size: var(--fs-16);
  font-weight: 400;
  line-height: 1.4;
  color: #2F362A;
font-family: var(--font-raleway);
margin: 0;

}

.readTime {
  font-size: var(--fs-16);
   font-weight: 400;
  font-family: var(--font-raleway);
  color: var(--text-secondary);

}


.sidebarDate{
   font-size: var(--fs-16);
   font-weight: 400;
  font-family: var(--font-raleway);
  color: var(--text-secondary);
 

}









@media (max-width: 1600px) {
  .container {
    padding: 108px 30px; 
  }

  .Main {
    gap: 60px; 
  }
}

@media (max-width: 1400px) and (min-width: 1050px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .Main {
    display: flex;
    flex-direction: column; 
    width: 100%;
    gap: 40px;
  }
  
  .leftColumn, 
  .body,
  .text {
    width: 100% !important; 
    max-width: 100% ;
    min-width: 0;
  }
  .inlineImage, 
  .inlineImage img {
    width: 100%;
    object-fit: cover;
  }
  .rightColumn {
    width: 100%;
    max-width: 100%;
  }
}


@media (min-width: 1024px) {
  .body {
    width: 955px;
  }
}

@media (min-width: 710px) and (max-width: 1024px) {


.container {
    padding: 108px 30px 0; 
    width: 100%;
    box-sizing: border-box;
  }

  .mainTitle, 
  .sourcingSubLine {
    font-size: 40px; 
    line-height: 1.2;
    width: 100%;
    
  }
.breadcrumbsHeaderGap {
   gap: 24px; 
  }
  .headerHeroGap {
     gap: 24px;
     }
  .heroContentGap { 
    gap: 20px; 
  }
  .text {
    font-size: 16px;
    line-height: 1.4;
    text-align: left; 
    width: 100%;
        text-align: justify; 
  text-justify: inter-word;
    overflow-wrap: break-word;
   
  }
  .heroImg {
    height: 250px; 
    width: 100%;
    object-fit: cover;
  }

  .inlineImage, 
  .inlineImage img {
    width: 100% ;
   height: 346px;
    max-width: 100%;
    display: block;
  
  }

  .Main {
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .leftColumn {
    width: 100%;
    min-width: 0;
  }

  .rightColumn {
    width: 100%;
    overflow: hidden; 
  }
  .rightList {
    display: flex;
    flex-direction: row; 
    overflow-x: auto;   
    gap: 16px;           
    scrollbar-width: none; 
    -webkit-overflow-scrolling: touch; 
  }

.rightCard {
    display: flex;
    flex-direction: column; 
    flex-shrink: 0;         
    width: 400px;           
    height: 450px; 
    gap: 0;
}

.rightThumb {
    width: 100%;
    flex: 1; 
    min-height: 140px; 
    margin-bottom: 12px;
    overflow: hidden; 
}

.rightThumb img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}
  .sidebarInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .readTime {
    padding-bottom: 12px;
    font-size: 16px;
     font-family: var(--font-raleway);
    display: block;
  }

  .sidebarBlogTitle {
    padding-bottom: 21px; 
    font-size: 16px;
     font-family: var(--font-raleway);
    font-weight: 600;
    line-height: 1.4;
    display: block;
  }


  .sidebarDate {
    font-size: 16px;
     font-family: var(--font-raleway);
    display: block;
  }

}



@media (min-width: 325px) and (max-width: 700px) {
  
  .container {
    padding: 108px 24px 0; 
    width: 100%;
    box-sizing: border-box;
  }
.body {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

  .mainTitle, 
  .sourcingSubLine {
    font-size: 28px; 
    line-height: 1.2;
    width: 100%;
    
  }
.breadcrumbsHeaderGap {
   gap: 24px; 
  }

  .headerHeroGap {
     gap: 24px;
     }

  .heroContentGap { 
    gap: 20px; 
  }


  .text {
    font-size: 16px;
    line-height: 1.4;
    text-align: left; 
    width: 100%;
        text-align: justify; 
  text-justify: inter-word;
    overflow-wrap: break-word;
   
  }
  .heroImg {
    height: 250px; 
    width: 100%;
    object-fit: cover;
  }

  .inlineImage, 
  .inlineImage img {
    width: 100% ;
    height: auto ;
    max-width: 100%;
    display: block;
  
  }

  .Main {
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .leftColumn {
    width: 100%;
    min-width: 0;
  }

  .rightColumn {
    width: 100%;
    overflow: hidden; 
  }
  .rightList {
    display: flex;
    flex-direction: row; 
    overflow-x: auto;   
    gap: 16px;           
    scrollbar-width: none; 
    -webkit-overflow-scrolling: touch; 
  }

.rightCard {
    display: flex;
    flex-direction: column; 
    flex-shrink: 0;         
    width: 350px;           
    height: 450px; 
    gap: 0;
}

.rightThumb {
    width: 100%;
    flex: 1; 
    min-height: 140px; 
    margin-bottom: 12px;
    overflow: hidden; 
}

.rightThumb img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}
  .sidebarInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .readTime {
    padding-bottom: 12px;
    font-size: 16px;
     font-family: var(--font-raleway);
    display: block;
  }

  .sidebarBlogTitle {
    padding-bottom: 21px; 
    font-size: 16px;
     font-family: var(--font-raleway);
    font-weight: 600;
    line-height: 1.4;
    display: block;
  }

  .sidebarDate {
    font-size: 16px;
     font-family: var(--font-raleway);
    display: block;
  }
  
.activePage {
    display: block;        
    flex: 1;              
    min-width: 0;         
    white-space: nowrap;   
    color: #C4754E;
    margin: 0;
  }
 
}