.main {
    width: 100%;
    margin-top: 30px;
}


.main h1 {
    font-size: 22px;
    font-family: var(--font-montserrat);
    font-weight: 600;
    color: #2F362A;
    text-transform: none; 
    margin-bottom: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5; 
    border: none; 
   
}

.Top {
    display: flex;
    padding: 15px 25px;
    align-items: flex-start; 
    justify-content: space-between;
    cursor: pointer;
}

.Left {
    display: flex;
    flex-direction: column; 
    gap: 4px;
}

.Left h1 {
      font-family: var(--font-raleway);
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    color:#6E736A;
}


.savingsBadge {
     font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 16px;
    color: #C4754E; 
    background-color: transparent; 
    padding: 0;
    margin: 0;
}

.toggleIcon {
    transition: transform 0.3s ease;
    margin-top: 5px;
}

.toggleIcon.open {
    transform: rotate(180deg);
}

/* Accordion Logic */
.detailsWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    overflow: hidden;
}

.detailsWrapper.open {
    grid-template-rows: 1fr;
}

.detailsContent {
    min-height: 0;
    padding: 0 25px;
}

/* Thin separator inside the accordion */
.detailsContent::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #E0E0E0;
    margin-bottom: 15px;
}

.detailRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.detailRow span {
   font-family: var(--font-raleway);
    font-size: 16px;
    font-weight: 400;
    color: #6E736A;
}

.discountText {
    color: #B87856 !important; /* The brand terracotta for discounts */
}

/* Divider between sections */
.dividerSub {
    height: 1px;
    background-color: #E0E0E0;
    margin: 10px 25px;
}

/* Payment Method Section */
.paymentMethod {
    display: flex;
    padding: 15px 25px;
    align-items: center;
    justify-content: space-between;
}

.paymentLeft p {
     font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 16px;
    color: #414343;
    margin: 0;
}

.paymentRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

.paymentRight p {
     font-family: var(--font-raleway);
    font-size: 16px;
     font-weight: 400;
    color: #414343;
    margin: 0;
}